<% if (build=='maven') {  %>target/
!.mvn/wrapper/maven-wrapper.jar<% } else { %>.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar<% } %>

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### OSX ###
*.DS_Store
.AppleDouble
.LSOverride
