Configuration:
  name: Default
  status: warn

  Appenders:
    Console:
      name: CONSOLE
      target: SYSTEM_OUT
      PatternLayout:
        Pattern: "%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"

  Loggers:
      Root:
        level: warn
        AppenderRef:
          - ref: CONSOLE

      Logger:
        name: com.vistaprint
        level: debug
        additivity: false
        AppenderRef:
          - ref: CONSOLE
